name: Build and push Docker image to Docker Hub

on:
  push:
    branches:
    - main

jobs:
  build-and-push-job-name:
    name: Build and push Docker image to Docker Hub

    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        uses: docker/build-push-action@v1
        with:
          path: . # context of application
          dockerfile: ./Dockerfile # file to build
          push: true # push the image to docker hub
          tags: sojitraurvish/ci-cd:${{ github.sha }} # tags as commit id

      - name: Verify pushed image  
        run: docker pull sojitraurvish/ci-cd:${{ github.sha }}